
.todoContainer {
  margin-bottom: 10px;
}

del {
  color: rgb(22, 48, 32);
}

.img-container {
  flex: 1;
  text-align: end;
  padding-right: 8px;
}

.img-container img{
 
  width: 16px;
}

.green {
  color: green;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
