.todoContainer {
	margin-bottom: 10px;
}

del {
	color: rgb(125, 90, 80);
}

.img-container {
	flex: 1;
	text-align: end;
	padding-right: 8px;
}

.img-container img {
	width: 16px;
}

h4.green {
	color: #30E3DF;
}
h4.orange {
	color: #F94A29;
}
h4.red {
	color: #D61355;
}

.align-center {
	justify-content: center !important;
	text-align: center;
}
