.todoContainer {
	margin-bottom: 10px;
}

del {
	color: rgb(22, 48, 32);
}

.img-container {
	flex: 1;
	text-align: end;
	padding-right: 8px;
}

.img-container img {
	width: 16px;
}

h4.green {
	color: green;
}
h4.orange {
	color: orange;
}
h4.red {
	color: red;
}

.align-center {
	justify-content: center !important;
	text-align: center;
}
