.todoContainer {
	margin-bottom: 10px;
}

del {
	color: rgb(125, 90, 80);
}

.img-container {
	flex: 1;
	text-align: end;
	padding-right: 8px;
}

.img-container img {
	width: 16px;
}

h4.green {
	color: #30e3df;
}
h4.orange {
	color: #f94a29;
}
h4.red {
	color: #d61355;
}

.align-center {
	justify-content: center !important;
	text-align: center;
}

.btn-lg {
	width: auto;
}
.btn-green {
	background-color: #30e3df;
}
